<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mealstock">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/product_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/product_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Mealstock">

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.example.mealstock.activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mealstock.activities.GoogleSignInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.mealstock.activities.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.mealstock.activities.ResetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.mealstock.activities.RegisteringActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>